BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

ColumnLimit: 0

PointerAlignment: Left
SpaceBeforeParens: ControlStatements

SortIncludes: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
